
	.board {


  	}

  .Login {
  	display: flex;
    justify-content: center;

    }
  
  .Login form {
  	display: inline-grid;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px;

    }

  .Separator {
    width: 200px;

    }
