.user {

  display:inline-grid;
  padding: 5px;
	background-color: white;

	max-height: 500px auto;
  
  margin: 5px;
  
  border: 2px solid #bbb;
  
  text-align: center;

  color: #333;
  box-shadow: -7px 42px 38px 15px rgba(0,0,0,0.52);

}
.user .label {

  font-size: 1.2em;

}

.props {
  font-weight: bold
}
